body {
background-color: #ffffb3;
font-family: Arial, Helvetica, sans-serif;
font-size:15px;
}

.navbar-list {
	list-style-type: none;
}

.isokuva {
	width: 100%;
	height: auto;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	margin: 0px;
	padding: 0px;
}

#kuva12tyyli {
	width:100%;
	height: auto;
	border-radius: 8px;
}

a.maininavi:hover {
	font-size: 120%;
	background: #006600;
	text-decoration: underline;
	transition-duration: 2s;
}

a.maininavi:active {
	background-color: #ff4da6;  
}

.nav-link {
	font-size:20px;
}

a.linkit {
	font-size: 18px;
	color: #002db3;
	transition-duration: 3s;
	text-decoration: none;
}

a.linkit:hover, active {
	color: #e60000;  
}

a.linkit:active {
	color: #39e600;  
}

#kuva20tyyli {
	width: 100%;
	height: auto;
	border-radius: 8px;
}

#kuva2015tyyli {
	width: 100%;
	height: auto;
	border-radius: 8px;
}

.copyntyyli {
	padding-left: 50%;
}

#kuva30tyyli {
	width: 100%;
	height: auto;
	border-radius: 8px;

}

.rowin2tyyli {
	padding-top: 15px;
} 

footer {
   width: 100%;
   height: 60px;
   background-color: #d6d6c2;
   color: black;
   font-size: 20px;
   text-align: center;
   padding-top: 10px;
   text-shadow: 2px 3px #e6ffff;
}


#kuvatyyli {
	width: 100%;
	height: auto;
	border-radius: 8px;
}

#kuvaDtyyli {
	width: 100%;
	height: auto;
	border-radius: 8px;
}

#kuvaEtyyli {
	width: 100%;
	height: auto;
	border-radius: 8px;
}

#kuvaKtyyli {
	width: 100%;
	height: auto;
	border-radius: 8px;
}

#linkkiotsikko {
	font-size:22px;
	padding-left:5%;
	text-decoration: none;
}


a.SRLlahde {
	color: #8533ff;
	transition-duration: 2s;
	text-decoration: none;
}

a.SRLlahde:hover {
	color: #b30059;
}

a.YLElahde {
	color: #8533ff;
	transition-duration: 2s;
	text-decoration: none;
}

a.YLElahde:hover {
	color: #ff0080;
}

.pppp {
	font-size: 20px;
}

.ppp {
	font-size: 18px;
}

a.video {
	color: #0000ff;
	text-decoration: none;
}

a.video:hover {
	font-size: 120%;
	color: #cc0099;
	transition-duration: 3s;
	text-decoration: underline;
}

a.video2 {
	color: #0000ff;
	text-decoration: none;
}

a.video2:hover {
	font-size: 120%;
	background:  #99ffff;
	color: #cc0099;
	transition-duration: 2s;
	text-decoration: underline;
}

#vihrea {
	float:right;
}

#sydan {
	width: 20px;
	height: auto;
}

.laatikko {
	border: 1px solid #80ff80;
	margin: 10px;
	padding: 10px;
	border-radius: 20px;
	background-color:#ffffcc;
	box-shadow: 5px 10px #d6d6c2;
	width: 100%;
	background-image: linear-gradient(to right, #ccffcc,  #ffff99);
}

.card {
	 width: 18rem;
	 height: auto;
	 background-color: #e6ffcc;
	 text-align: center;
	 border-radius: 8px;
	 border: inset 3px #66ff33;
}

.progress-bar-animated {
	 width:15%;
}


@media screen and (max-width: 700px) {
  body {
    background-color: #e6fff5;
    color: #1a1a00;
  }
}
